<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tu Cuenta</title>
    <link href="../assets/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="logoInicio">
        <a href="../inicio.html"><img src="../assets/img/logo.png"></a>
    </div>

    <div class="splashImg">
        <img src="../assets/img/splash.png">
    </div>
    
    <div class="formulario">
        <form name="datosPersonales" action="../inicio.html" method="" >
            <h1>Crea una cuenta</h1>
            <p>¿Ya tienes una cuenta? <a href="ingresar.html">Ingresa</a></p>
            <label for ="nombre">Nombre:</label><br>
                <input id="nombre" type="" name="nombre"><br><br>
            <label for ="apellidos"> Apellidos:</label><br>
                <input id = "apellidos"><br><br>
            <label for ="correo"> Correo Electrónico:</label><br>
                <input id = "correo"><br><br>
            <label for ="contraseña"> Contraseña:</label><br>
                <input id = "contraseña" type="password"><br><br>
            <label for ="confirmarContraseña"> Confirmar contraseña:</label><br>
                <input id = "ConfirmarContraseña" type="password"><br><br>
            <button class="botonForm">
                <span class="texto">REGISTRARSE</span>
            </button>
        </form><br>

    <button class="ingresoAlt">
        <span class="texto">Ingresar con Google</span>
        <img src="../assets/img/google.png" alt="Google">
    </button><br>

    <button class="ingresoAlt">
        <span class="texto">Ingresa con Facebook</span>
        <img src="../assets/img/facebook.png" alt="Facebook">
    </button>

    </div>

</html>