<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link href="../assets/css/style_store.css" rel="stylesheet">
</head>
<body>

<div class ="header_pl">
    <nav class="navbar_pl">
        <div class="logo_pl">
        <a href="../inicio.html"><img src="../assets/img/logo.png"></a>
        </div>
        <ul class="nav-links_pl">
        <li><a href="../inicio.html">INICIO</a></li>
        <li><a href="tienda.html"><strong>TIENDA</strong></a></li>
        <li><a href="#">NOSOTROS</a></li>
        </ul>
        <div class="iconos">
        <a href="#">
            <img src="../assets/img/cart.png" alt="Carrito">
        </a>
        <a href="#">
            <img src="../assets/img/user.png" alt="Usuario">
        </a>
        <a href="#">
            <img src="../assets/img/vertical_line.png" alt="Linea">
        </a>
        <a href="#">
            <img src="../assets/img/menu.png" alt="Menú">
        </a>
        </div>
    </nav>
</div>


<div class="path-bar_pl">
    <span><a href="../inicio.html">Inicio</a></span>
    <span>&gt;</span>
    <span><a href="tienda.html">Tienda</a></span>
</div>


<div class="search-bar">
    <div class="category-dropdown">
        <select id="category">
            <option disabled selected value="">Categorías</option>
            <option value="all">Todas las categorías</option>
            <option value="category1">Adhesivos</option>
            <option value="category2">Pósters</option>
            <option value="category3">Tarjetas</option>
        </select>
    </div>
    <div class="search-input">
        <input type="text" placeholder="Buscar productos">
        <button><img src="../assets/img/bx-search-alt-2.svg" alt="Search"></button>
    </div>
    <div class="ordering-dropdown">
        <select id="ordering">
            <option disabled selected value="">Ordenar por</option>
            <option value="relevance">Relevancia</option>
            <option value="recent">Más reciente</option>
            <option value="price-low">Precio: Menor a mayor</option>
            <option value="price-high">Precio: Mayor a menor</option>
        </select>
    </div>
</div>
    
<div class="product-container">
    <div class="product">
        <img src="https://staticecp.uprinting.com/6981/700x700/UP_Custom_Stickers_PDP_Promotional_B.jpg" alt="Product 1">
            <div class="product-details">
                <div class="product-title">Stickers</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
    <div class="product">
        <img src="https://staticecp.uprinting.com/148/700x700/Business_Card_Magnets_Business_Marketing_Materials_A.jpg" alt="Product 2">
            <div class="product-details">
                <div class="product-title">Tarjetas de presentación</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
    <div class="product">
        <img src="https://staticecp.uprinting.com/451/450x450/Bulk_Posters_Small_Business_Marketing_Materials_A.jpg" alt="Product 3">
            <div class="product-details">
                <div class="product-title">Pósters</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
</div>
    
<div class="product-container">
    <div class="product">
        <img src="https://staticecp.uprinting.com/6981/700x700/UP_Custom_Stickers_PDP_Promotional_B.jpg" alt="Product 1">
            <div class="product-details">
                <div class="product-title">Stickers</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
    <div class="product">
        <img src="https://staticecp.uprinting.com/148/700x700/Business_Card_Magnets_Business_Marketing_Materials_A.jpg" alt="Product 2">
            <div class="product-details">
                <div class="product-title">Tarjetas de presentación</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
    <div class="product">
        <img src="https://staticecp.uprinting.com/451/450x450/Bulk_Posters_Small_Business_Marketing_Materials_A.jpg" alt="Product 3">
            <div class="product-details">
                <div class="product-title">Pósters</div>
                <div class="product-price">Desde 3.000 COP c/u</div>
            </div>
        <div class="ver-mas">
            <a href="producto.html">
                VER MÁS
                <div class="plus-circle"></div>
            </a>
        </div>
    </div>
</div>
    

    <footer class="footer">
        <div class="columna-1">
          <img src="../assets/img/logo_black.png" alt="Logo">
          <p>Print Lab ofrece una rápida impresión. Ofrecemos tarjetas de visita, postales, volantes, folletos, material de oficina y otros productos de impresión de alta calidad. </p>
          <p>Todos los derechos reservados</p>
        </div>
        <div class="columna-2">
            <table>
                <tr> 
                    <th><strong>Links de interés</strong></th>
                    <th><strong>Soporte</strong></th>
                    <th><strong>Contacto</strong></th>
                </tr>
                <tr> 
                    <td>Terminos de Uso</td>
                    <td>FAQ</td>
                    <td>601 1234587</td>
                </tr>
                <tr> 
                    <td>Políticas de Privacidad</td>
                    <td>Servicios de diseño</td>
                    <td>printlab@gmail.com</td>
                </tr>
            </table>
        </div>
      </footer>
</body>
</html>
