@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: white;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
.logo {
    float: left;
    margin-left: 20px;
}

.logo img{
    height: 91px;
    margin-top: 20px;
}
  
.nav-links {
    float: left;
    margin-left: 20px;
}
  
.nav-links li {
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
    margin-top: 50px;
}
  
.nav-links a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
  
.nav-links a:hover {
    color: #928e8e;
}
  
.iconos {
    float: right;
    margin-right: 60px;
    margin-top: 60px;
}
  
.iconos a {
    display: inline-block;
    margin-left: 60px;
}
  
.iconos a img {
    width: 30px;
    height: 30px;
}

.header{
    height: 173px;
}

.caja {
    background-color: #ffe400;
    width: 80%;
    height: 512px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 3%;
  }
  
.columna-1-caja {
    width: 40%;
    float: left;
    padding: 30px;
  }
  
.columna-2-caja {
    background-color: #1e120e;
    width: 50%;
    float: right;
    border-radius: 40%;
}
  
.caja h1 {
    font-size: 4em;
    font-weight: 700;
}
  
.caja p {
    font-size: 1.5em;
}
  
.caja input {
    display: inline-block;
    width: 400px;
    height: 60px;
    border-left: 40px;
    text-align: center;
    font-size: 1.5em;
    border: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
.caja img {
    width: 100%;
}

.boton-caja {
    display: inline-block;
    background-color: #DA0080;
    height: 60px;
    color: #fff;
    padding: 10px 20px;
    border: #DA0080;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
  }
  
.boton-caja img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

.masPopulares {
    background-color: #fff;
    height: 700px;
}

.explora {
    background-color: #7dc9ea;
    height:700px;
}

.servicios{
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.servicios h1{
    padding-top: 30px;
}

.servicios img{
    width: 120px;
}

.servicios table{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    font-size: 1.5em;
}


.footer {
    background-color: #1e120e;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
  
.columna-1 {
    width: 25%;
    text-align: justify;
    padding: 50px;
    margin-left: 30px;
    display: inline-block;
  }

.columna-1 img{
    height: 91px;
  }

.columna-1 p{
    color:#928e8e;
  }
  
.columna-2 {
    width: auto;
    padding: 50px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    text-align: left;
    display:inline-block;
  }

.columna-2 td,th{
    height: 50px;
    width: 200px;
  }

.columna-2 td{
    color:#928e8e;
  }
  